@import "../../mixins";
.login-container {
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  margin-top: 100px;
  @include smallTablet() {
    padding-bottom: 3rem;
  }
  @include mobile() {
    padding-bottom: 0;
  }

  .login-img {
    width: 70%;
    text-align: center;
    @include smallTablet() {
      display: none;
    }

    img {
      width: 70%;
      object-fit: contain;
    }
  }

  .login-form {
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
    width: 40%;
    @include smallTablet() {
      width: 70%;
      margin: auto;
    }
    @include mobile() {
      width: 100%;
    }

    .user {
      width: 80px;
      height: 80px;
      position: absolute;
      top: -9%;
      left: 50%;
      transform: translate(-50%, -9%);

      img {
        width: 100%;
      }
    }

    h2 {
      color: #fff;
      text-align: center;
      margin-bottom: 2rem;
    }

    input {
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
      color: var(--heading-color);
      outline: none;
    }

    .auth-btn {
      background: var(--heading-color) !important;
      width: 100%;
      color: #fff !important;
    }

    p {
      font-size: 0.9rem;
      color: #fff;
      margin-top: 1.5rem;
      text-align: center;
      a {
        color: var(--heading-color);
        text-decoration: none;
        margin-left: 5px;
        font-weight: 500;
      }
    }
  }
}
