@import "../../mixins";
.hero-content {
  padding-top: 3.5rem;
  .hero-subtitle img {
    width: 2.3rem;
    height: 2.3rem;
  }

  h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);

    @include tablet() {
      font-size: 2.7rem;
    }
    @include mobile() {
      font-size: 1.8rem;
    }

    .highlight {
      color: var(--secondary-color);
    }
  }

  p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
  }
}

.hero-img-box {
  padding-top: 2rem;

  @include tablet() {
    display: none;
  }
  img,
  video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
  }
}

.hero-video-box {
  @include tablet() {
    display: block;
  }
}

.services-subtitle {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--secondary-color);
  font-family: var(--subtitle-font-name);
}

.services-title {
  font-size: 2.5rem;
  font-weight: 500;
  @include tablet() {
    font-size: 2rem;
  }
  @include mobile() {
    font-size: 1.5rem;
  }
}

.featured-tour-title {
  font-size: 2.3rem;
  font-weight: 500;
  @include tablet() {
    font-size: 2rem;
  }
  @include mobile() {
    font-size: 1.5rem;
  }
}

.experience-content {
  h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
    @include tablet() {
      font-size: 2rem;
    }
    @include mobile() {
      font-size: 1.5rem;
    }
  }
  p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
  }
}

.counter-wrapper {
  margin-top: 2.5rem;
  .counter-box {
    span {
      width: 70px;
      height: 70px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--secondary-color);
      color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 10px 5px 10px 5px;
    }

    h6 {
      font-size: 1.1rem;
      margin-top: 0.7rem;
      color: var(--text-color);
    }
  }
}

.experience-img {
  @include tablet() {
    display: flex;
    justify-content: center;
  }
  img {
    width: 90%;

    @include tablet() {
      margin-top: 2rem;
    }
  }
}

.gallery-title {
  font-size: 2.3rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  @include tablet() {
    font-size: 2rem;
  }
  @include mobile() {
    font-size: 1.5rem;
  }
}

.masonry-img {
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.testimonial-title {
  margin-top: 1rem;
  font-size: 2.3rem;
  margin-bottom: 2rem;
  @include tablet() {
    font-size: 2rem;
  }
  @include mobile() {
    font-size: 1.5rem;
  }
}
