.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  img {
    height: 12rem;
    width: 12rem;
    border: 10px solid var(--secondary-color);
    border-radius: 50%;
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .profile-text {
    text-align: center;
    padding-top: 7rem;
    color: var(--text-color);
  }

  .profile-info {
    width: 100%;
    h6 {
      text-transform: uppercase;
      font-weight: bold;
      color: var(--secondary-color);
    }
  }

  .profile-options {
    align-self: flex-end;
    .option-btn {
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.5s ease;
      background: var(--secondary-color);
      color: #fff;
      display: flex;

      &:hover {
        transition: all 0.5s ease;
        color: #fff;
        background: var(--secondary-color);
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2),
          0 13px 24px -11px rgba(156, 39, 176, 0.6);
      }
    }
  }
}

.profile-form-header {
  color: var(--secondary-color) !important;
  font-size: 1.5rem;

  button {
    font-size: 1rem;
  }
}

.profile-input {
  padding: 0 0.3rem;
  outline: 0;
  border: none;
  border-bottom: 1px solid #000;
}

.booking-table-head {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}
.booking-table-body {
  text-align: center;
}

.accordion-header {
  .accordion-button {
    color: var(--secondary-color) !important;
  }
}

.cancel-booking-btn {
  transition: all 0.5s ease;
  &:hover {
    transition: all 0.5s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2),
      0 13px 24px -11px rgba(176, 57, 39, 0.6);
  }
}
