@import "../../mixins";
.search-bar {
  padding: 0.8rem 2rem;
  border-radius: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  width: max-content;
  margin-top: 50px;
  background: #fff;
  @include tablet() {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 2rem;

    form {
      flex-wrap: wrap;
    }
  }

  .form-group {
    @include tablet() {
      width: 47%;
    }
    @include mobile() {
      width: 100%;
    }
    span {
      margin-top: 7px;
      font-size: 1.8rem;
      color: var(--secondary-color);
      @include mobile() {
        font-size: 1.1rem;
      }
    }
    div {
      input {
        border: none;
        font-size: 0.9rem;
        color: var(--heading-color);
        @include mobile() {
          font-size: 0.8rem;
        }

        &:focus {
          outline: none;
        }
      }

      h6 {
        margin-bottom: 0;
        @include mobile() {
          font-size: 0.9rem;
        }
      }
    }
  }

  .form-group-fast {
    width: 2px;
    height: 2.5rem;
    background: #ddd;
    @include tablet() {
      display: none;
    }
  }

  .search-icon {
    font-size: 1.6rem;
    padding: 0.1rem 0.5rem;
    background: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
    @include tablet() {
      margin: 0 auto;
      width: 100%;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        &::after {
          content: "Search";
          font-size: 1.2rem;
          font-family: var(--font-name);
        }
      }
    }
  }
}
