@import "../../mixins";
.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  border: 1px solid #ddd;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  position: sticky;
  background: #fff;
  z-index: 999;
  top: 0;

  @include smallTablet() {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .logo img {
    width: 30%;
    @include tablet() {
      width: 20%;
    }
    @include smallTablet() {
      width: 40%;
    }
  }

  .mobile-navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0000007a;
    transition: 0.5s ease;

    .mobile-menu-close {
      position: absolute;
      color: var(--heading-color);
      right: 1rem;
      font-size: 2rem;
      z-index: 9999;
      cursor: pointer;
      transition: 0.5s ease;
      i {
        position: relative;
        &::after {
          content: "";
          width: 0;
          height: 3px;
          background: var(--heading-color);
          position: absolute;
          bottom: -0.2rem;
          left: 0;
          transition: 0.5s ease;
        }
      }

      &:hover {
        i {
          position: relative;

          &::after {
            width: 2rem;
            transition: 0.5s ease;
          }
        }
      }
      @include tablet() {
        display: block;
      }
    }

    .mobile-menu {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 75%);
      height: 100%;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      line-height: 0.5rem;
      z-index: 999;
      padding: 6rem 2rem;
      align-items: flex-start !important;
      transition: 0.5s ease;

      @include smallTablet() {
        width: calc(100% - 50%);
      }

      .nav-item {
        a {
          text-decoration: none;
          color: var(--heading-color);
          font-weight: 500;
          font-size: 1.1rem;

          &:hover {
            color: inherit;
          }
          &.active-link {
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  .navigation {
    @include tablet() {
      display: none;
    }
    .mobile-menu-close {
      display: none;
    }
    .menu {
      margin-bottom: 0;

      .nav-item a {
        text-decoration: none;
        color: var(--heading-color);
        font-weight: 500;
        font-size: 1.1rem;

        &:hover {
          color: inherit;
        }
        &.active-link {
          color: var(--secondary-color);
        }
      }
    }
  }

  .mobile-menu {
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;

    @include tablet() {
      display: block;
      cursor: pointer;
    }
  }
}
